# Ignore everything
*

# Allow directories (agar Git bisa traverse folder)
!*/

# Allow only notebooks and python files
!*.ipynb
!*.py

# Tetap track file git
!.gitignore
!.gitattributes

# Tetap ignore checkpoint/not cache
**/.ipynb_checkpoints/**
**/__pycache__/