Video/
*.pptx
*.mp4
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.vtt
*.srt
*.zip
*.rar
*.7z
*.tar.gz
*.tar
*.egg
*.whl

*.pdf
*.zip
*.csv
*.xlsx
*.xls
*.docx
*.doc
*.txt
*.json
*.xml
*.log
Python/Capstone Project/
seaborn-data/
__pycache__/
*.pyc
.ipynb_checkpoints
.DS_Store
.vscode/
env/
env2/